@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.stripe {
  width: 100%;
  height: 100vw;
  background: repeating-linear-gradient(-20deg, #00573C 20px, #003c31 80px);
  /* filter: blur(10px) */
}

.animation {
    animation-name: slider; /*下に定義したsliderという名前のanimationを行う*/
    animation-duration: 10s; /* 0%->100%まで変化させるのに要する時間*/
    animation-timing-function: linear; /*等速に変化*/
    animation-delay: 0s;
    animation-iteration-count: infinite; /* エンドレスリピート*/
    animation-direction: normal;
    animation-play-state: running;
}

@keyframes slider {
    0% {
        background-position-y: 0;
    }
/*   
    50% {
      background-position-y: -100px;
    } */

    100% {
        background-position-y: -100vh; /* アニメーション終了時にはy軸方向に34pxずれていること*/
    }
}